html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to right, #1d2b64, #f8cdda);
}
.ui-controls {
    position: fixed;
    top: 75%;
    left: 60%;
    user-select: none;
    font-family: sans-serif;
    text-align: end;
}
.ui-controls button {
    background-color: transparent;
    visibility: hidden;
    cursor: pointer;
}
.title {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    opacity: .5;
    user-select: none;
}
